@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --sky: #37cfea;
    --skyHover:#1d6e7d;
    --orange: #f5b732;
    --orangeHover: #906c1d;
    --darkBg: #1a2a33;
    --bg: #1f3641;
    --light: #a8bfc9;
    --lightHover: #dbe8ed;
}


body{
    width: 100vh;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: var(--darkBg);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* general claasses */
.title{
    font-weight: 700;
    font-size: 16px;
    line-height: 20.16px;
    letter-spacing: 1px;
}


/* general claasses */
#home, 
#board{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#board{
    display: none;
}
.home-header{
    display: flex;
    align-items: center;
    margin-left: -30px;
}
.home-header img{
    width: 64px;
}
.panel{
    width: 327px;
    background-color: var(--bg);
    padding: 24px 24px 30px 24px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px -8px 0px 0px #10212A inset;
    margin-top: 32px;
}
.header-title{
    color: var(--light);
}
.buttons{
    width: 100%;
    padding: 10px;
    display: flex;
    margin-top: 24px;
    border-radius: 10px;
    background-color: var(--darkBg);
}
.btn-box{
    width: 50%;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.x-icon, .o-icon{
    /* transform: scale(0.7); */
}
.active{
    background-color: var(--light);
}
.active svg path{
        fill: var(--darkBg)
}
.warning{
    font-weight: 500;
    font-size: 14px;
    line-height: 17.64px;
    letter-spacing: 0.88px;
    color: var(--light);
    opacity: 0.5;
    margin-top: 17px;
}
.new-game-btn{
    width: 327px;
    padding: 14px 0px 22px 0px;
    border-radius: 15px;
    box-shadow: inset 0px -8px 0px #cc8b13;
    cursor: pointer;
    border: none;
    font-family: 'Outfit', sans-serif;

}
.cpu-btn{
    background-color: var(--orange);
    margin-top: 32px;
}
.btn-text{
    color: var(--darkBg);
}
.player-btn{
    background-color: var(--sky);
    margin-top: 16px;
    box-shadow: inset 0px -8px 0px #118c87;

}
#board{
    display: none;
}
.board-header,
.statistics{
    width:328px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}
.turn-box{
    width: 96px;
    height: 40px;
    box-shadow: inset 0px -4px 0px #10212a;
    border-radius: 5px;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-left: -30px;
}
.turn-box img{
    width: 26px;
    margin-left: -16px;
}
.turn-box h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 17.64px;
    letter-spacing: 0.88px;
    color: var(--light);
    text-transform: uppercase;
}
.restrat {
    border: none;
    width: 40px;
    height: 40px;
    background-color: var(--light);
    border-radius: 5px;
    box-shadow: inset 0px -8px 0px #6d8997;
}
.restrat img{
    width: 35px;
    height: 35px;
}
.play-area{
    margin-top: 64px;
    width: 328px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.play-btn{
    width: 96px;
    height: 96px;
    box-shadow: inset 0px -8px 0px #10212a;
    border-radius: 10px;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.statistics {
    margin-top: 24px;

}
.statistic-box{
    width: 96px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: var(--darkBg);
}

.statistic-box:nth-child(1){
    background-color: var(--sky);
}
.statistic-box:nth-child(2){
    background-color: var(--light);
}
.statistic-box:nth-child(3){
    background-color: var(--orange);
}
.statistic-box h3{
    font-weight: 500;
    font-size: 12px;
    line-height: 16.64px;
    letter-spacing: 0.88px;
    text-transform: uppercase;
}
.statistic-box span{
    font-weight: 500;
    font-size: 20px;
    line-height: 25.64px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}
.xHover:hover{
    background-image: url(./assets/icon-x-outline.svg);
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position: center;
}
.oHover:hover{
    background-image: url(./assets/icon-o-outline.svg);
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position: center;
}
.play-icons{
    width: 60px;
    height: 60px;

}
.play-icon{
    margin-left: -35px;
}
.margin-right{
    margin-right: -30px;
    width: 100px;
    height: 60px;
}
#modal,
#modal-tie,
#modal-restart{
    display: none;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.modal-box{
    width: 100%;
    padding: 40px 48px 48px 48px;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result-info-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 17.64px;
    letter-spacing: 0.88px;
    color: var(--light);
    text-transform: uppercase;
    
}
.modal-box div{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}
.modal-box div img{
    margin-top: 16px;
}
.result-text{
    font-weight: 700;
    font-size: 24px;
    line-height: 30.64px;
    letter-spacing: 1.5px;
    color: var(--orange);
    text-transform: uppercase;
}
.result-buttons{
    display: flex;
    align-items: center;
    gap:16px;
    margin-top: 24px;
}
.quit-btn, 
.next-round-btn{
    padding: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    color: var(--darkBg);
    text-transform: uppercase;
}
.quit-btn{
    background: #a8bfc9;
    box-shadow: inset 0px -4px 0px #6b8997;
}
.next-round-btn{
    background: #f2b137;
    box-shadow: inset 0px -4px 0px #cc8b13;
}